body {
    background-color: whitesmoke;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 360px);
}
.highlight {
    font-weight: bold;
    color: lightgrey;
}
.inputs {
    text-align: center;
    /* align-self: center; */
    margin: 40px;
}
#title {
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
#image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 1px solid grey;
}
.image-card {
    display: grid;
    max-width: 300px;
    padding: 20px;
    background-color: whitesmoke;
    color: grey;
    border: 1px solid grey;
    margin-bottom: 20px;
}
#modal-appear {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 33333;
}
