body {
    box-sizing: border-box;
    background-color: black;
}
#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards-container {
    width: 75vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}
#title {
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 60px;
}
.inputs {
    margin-top: 40px;
    margin-bottom: 70px;
    color: grey;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    align-items: normal;
}
.inputs input {
    height: 20px;
    width: 200px;
    background: black;
    border: 1px dotted grey;
    margin-right: 7px;
    margin-left: 7px;
    outline: none;
    color: whitesmoke;
    font-size: 13px;
    padding: 4px;
    font-family: "Nunito Sans", sans-serif;
}
.inputs input:hover {
    border: 1px solid whitesmoke;
    outline: none;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    height: 28px;
    width: 80px;
    font-size: 12px;
    color: white;
    background-color: black;
    border: 1px solid grey;
    margin-right: 14px;
    margin-left: 7px;
    text-align: center;
    line-height: 28px;
    font-family: "Nunito Sans", sans-serif;
    display: inline-block;
    cursor: pointer;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #778899;
    border: 1px solid transparent;
}
.inputs button {
    height: 30px;
    width: 80px;
    background-color: black;
    color: whitesmoke;
    border: 1px solid grey;
    outline: none;
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}
.inputs button:hover {
    color: whitesmoke;
    border: 1px solid whitesmoke;
    outline: none;
}
.inputs button:active {
    background-color: #778899;
    color: whitesmoke;
    border: 1px solid grey;
    outline: none;
}
#image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.image-card {
    max-width: 300px;
    padding: 10px;
    background-color: black;
    color: lightgrey;
    border: 1px solid transparent;
    margin-bottom: 50px;
    font-family: "Nunito Sans", sans-serif;
}
.image-card:hover {
    border: 1px dotted grey;
    color: lightgrey;
    padding: 10px;
}
.image-card h4 {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 18px;
}
.image-card p {
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 0;
}
.modal-appear {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke;
    font-family: "Nunito Sans", sans-serif;
}
.modal-x {
    font-family: verdana;
    color: whitesmoke;
    position: absolute;
    margin-top: 20px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
}
.align-container {
    width: 75vw;
    display: flex;
}
#img {
    width: 35vw;
    display: flex;
    align-self: flex-start;
    margin-top: 8vw;
}
#modal-image-container h4 {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 20px;
}
#modal-image-container p {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 0;
}
.comments-inputs-container {
    width: 30vw;
    margin-top: 8vw;
    margin-left: 8vw;
}
.comments-inputs-container input {
    width: 100%;
    background: black;
    border: 1px dotted grey;
    outline: none;
    color: whitesmoke;
    font-size: 13px;
    padding: 4px;
    font-family: "Nunito Sans", sans-serif;
}
#username-input {
    margin-top: 0;
    height: 2.4em;
}
#comment-input {
    margin-top: 10px;
    height: 2.4em;
}
.comments-inputs-container button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2.2em;
    width: 8em;
    background-color: black;
    color: whitesmoke;
    border: 1px solid grey;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
    outline: none;
}
.comments-inputs-container button:hover {
    background-color: #778899;
    outline: none;
}
.comments-inputs-container button:active {
    background-color: whitesmoke;
    color: grey;
    outline: none;
}
.comments-container {
    height: 420px;
    width: 32vw;
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 1px;
}

.comments-space {
    width: 30.5vw;
    margin-top: 2vw;
    border-bottom: 1px solid grey;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button-container button {
    height: 2.5em;
    width: 10em;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    border: 1px solid grey;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
    outline: none;
}
.button-container button:hover {
    background-color: #778899;
    outline: none;
}
.button-container button:active {
    background-color: whitesmoke;
    color: grey;
    outline: none;
}
