body {
    background-color: whitesmoke;
}
.highlight {
    font-weight: bold;
    color: lightgrey;
}
.image-cards {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
